.footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
  }
  
  .footer-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #12f3dd;;
  }
  