.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    color: white;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #12f3dd;
  }
  